body {
    /* display: flex; */
    background-color: blanchedalmond;
}

main {
    display: flex;
}

.flex-holidays,
.flex-animals,
.flex-heroes,
.flex-religion,
.flex-seasons,
.flex-space,
.flex-sports,
.flex-trans {
    margin: 75px 45px;
}

.flex-holidays img {
    transform: rotate(-20deg);
}

.flex-holidays p {
    transform: rotate(-110deg);
    margin-right: -75px;
}

.flex-holidays {
    display: flex;
}

.flex-sports img {
    transform: rotate(20deg);
}

.flex-sports p {
    transform: rotate(110deg);
    margin-left: -65px;
}

.flex-sports {
    display: flex;
}

.flex-animals img {
    transform: rotate(-20deg);
}

.flex-animals p {
    transform: rotate(-110deg);
    margin-right: -70px;
}

.flex-animals {
    display: flex;
}

.flex-heroes img {
    transform: rotate(20deg);
}

.flex-heroes p {
    transform: rotate(110deg);
    margin-left: -65px;
}

.flex-heroes {
    display: flex;
}

.flex-trans img {
    transform: rotate(20deg);
}

.flex-trans p {
    transform: rotate(110deg);
    /* margin-left: -100px; */
}

.flex-trans {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-seasons img {
    transform: rotate(-20deg);
}

.flex-seasons p {
    transform: rotate(-110deg);
    margin-right: -65px;
}

.flex-seasons {
    display: flex;
}

.flex-religion img {
    transform: rotate(20deg);
}

.flex-religion p {
    transform: rotate(110deg);
    margin-left: -75px;
}

.flex-religion {
    display: flex;
}

.flex-space img {
    transform: rotate(-20deg);
}

.flex-space p {
    transform: rotate(-110deg);
    margin-right: -85px;
}

.flex-space {
    display: flex;
}

.flex-logo {
    border: 4px solid black;
    margin-top: 110px;
}

h1,
p {
    text-align: center;
}

footer a {
    font-size: xx-large;
    text-decoration: green wavy underline;
    color: blue;
}

footer a:hover {
    color: orange;
}